.marked {
    text-decoration: line-through;
}

.todo_item {
    display: flex;
    justify-content: space-between;
    margin: 8px 125px;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #666;
    border-radius: 8px;
}

p {
    overflow: hidden;
}

.marked {
    text-decoration: line-through;
}

.ant-card {
    max-width: 800px;
    min-width: 28vw !important;
}