.App {
  text-align: center;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  margin: 8px 125px;
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #666;
  border-radius: 8px;
}

.todo_container {
  margin: 60px auto;
  max-width: 900px;
  max-height: 400px;
  border: 1px solid #eee;
  border-radius: 18px;
  background-color: #fafafa;
  overflow: auto;
}

.todo_input {
  padding: 6px;
  font-size: 16px;
  width: 60%;
}

.button {
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  background: #00c8be;
}

header {
  padding: 28px 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #00c8be;
}

.marked {
  text-decoration: line-through;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

aside {
  flex: 1;
  min-width: 250px;
  background-color: #eee;
}

.main {
  flex: 4;
  min-width: 650px;
}

aside div {
  padding: 14px 8px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #00c8be;
  border-top: none;
}

aside div:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
}