.App {
  text-align: center;
}

.button {
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  background: #00c8be;
}

header {
  padding: 28px 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #00c8be;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

aside {
  flex: 1;
  min-width: 250px;
  background-color: #eee;
}

.main {
  flex: 4;
  min-width: 650px;
}

aside div {
  padding: 14px 8px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #00c8be;
  border-top: none;
}

aside div:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
}